* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'vag_roundedbold', sans-serif;
	height: 100%;
}

.wrapper {
	min-width: 960px;
	height: 100%;
}

.overlay {
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
}

.audio {
	z-index: 2000;
	position: absolute; 
}

.close {
	width: 240px;
	height: 60px;
	position: absolute;
	top: 10px;
	right: 20px;
	color: white;
	text-shadow: 0 1px 0 black;
	font-size: 24px;
	text-align: right;
	text-transform: lowercase;
	z-index: 1003;
}

.lyrics {
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	z-index: 1002;
	text-align: center;
	color: white;
	text-shadow: 0 1px 0 black;
	font-size: 24px;
	line-height: 36px;
	padding: 240px 0;
	background-color: rgba(0,0,0,.4);
}

.title-wrapper {
	padding: 80px 0;
	font-size: 48px;
}

.gif {
	height: 100%;
	width: 100%;
	background-color: green;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
}

.stage {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 1000;
	background-color: red;
	-webkit-transition: .3s ease -webkit-transform;
	-o-transition: .3s ease -moz-transform;
	transition: .3s ease transform;
}

.modal {
	background-color: white;
	width: 540px;
	height: 534px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 20px;
	text-align: center;
}

.header {
	background-color: white;
	padding: 20px 0 0;
	height: 120px;
	background: url(../assets/right-bubbles.png) right bottom no-repeat,
		url(../assets/left-bubbles.png) left bottom no-repeat;
}

.main-logo {
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(../assets/gifaraoke.png);
	display: block;
	margin: 0 auto;
	background-repeat: no-repeat;
	width: 300px;
	height: 80px;
}

.grid {
	overflow: hidden;
}

.grid-item {
	width: 25%;
	background-color: #ffd6a4;
	float: left;
	padding-bottom: 25%;
	position: relative;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	-webkit-transform: translateZ(0);
}

.grid-item:before {
	content: ' ';
	display: block;
	opacity: 0;
	-webkit-transition: .2s ease opacity;
	-o-transition: .2s ease opacity;
	transition: .2s ease opacity;
}

.grid-item:hover::before {
	background-color: white;
	opacity: .6;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.grid-item:hover .button{
	display: block;
	opacity: 1;
}

.button {
	border-radius: 23px;
	line-height: 42px;
	border: 3px solid #3b0011;
	position: absolute;
	font-size: 20px;
	padding: 0 20px;
	height: 46px;
	color: #3b0011;
	width: 182px;
	text-transform: lowercase;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -26px;
	margin-left: -91px;
	background-color: transparent;
	opacity: 0;
	-webkit-transition: .2s ease opacity;
	-o-transition: .2s ease opacity;
	transition: .2s ease opacity;
	outline: none;
}

.beats-logo {
	display: block;
	margin: 0 auto 5px;
	width: 30px;
	height: 30px;
	background-image: url(../assets/beats-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	padding: 35px 0 10px;
	text-align: center;
	height: 120px;
	font-size: 16px;
	text-transform: lowercase;
	color: #f999a7;
}

/* Welcome Popup Styles */

.welcome-bunny {
	margin: 8px auto;
	background: url(../assets/welcome-bunny.png) no-repeat center center;
	height: 320px;
	width: 320px;
}

.welcome-text {
	margin: 0 auto;
	background: url(../assets/welcome-text.png) no-repeat center center;
	height: 50px;
	width: 300px;
}

.welcome-info {
	color: #3b0011;
	margin-top: 3px;
	font-size: 21px;
}

.modal button {
	border-radius: 23px;
	line-height: 42px;
	border: 3px solid #3b0011;
	font-size: 20px;
	padding: 0 20px;
	height: 50px;
	color: #3b0011;
	width: 182px;
	text-transform: uppercase;
	background-color: transparent;
	outline: none;
	margin-top: 8px
}

button:active {
	background-color: #3b0011;
	color: white;
}

audio {

}
